/* Global Styling here */
html {
    scroll-behavior: smooth;
    background-color: #333;
}

body {
  color: white;
}

mark {
  background-color: lightblue;
}

#pinkmark {
  background-color: pink !important;
}

.inlineUnderline {
  text-decoration: underline;
  display: inline-flex;
  text-decoration-color: #94bfbe;
}

