/* Global Styling here */
html {
    scroll-behavior: smooth;
    background-color: #1f2022;
}

body {
  color: white;
}

mark {
  background-color: lightblue;
}

.inlineUnderline {
  text-decoration: underline;
  display: inline-flex;
  text-decoration-color: #94bfbe;
}

